In [ ]:
length=3
width=5
area=length*width
print("area is:" ,area)

area is: 15

In [ ]:
def area(length,width):
  return length*width

In [ ]:
type(range(5))

range

In [ ]:
print(type({})is set)

False

In [ ]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

False True True True

In [ ]:
y = 10
x = y
x+= 2
print(x)

12

In [ ]:
x = 10
y = 50
if x ** 2 > 100 and y < 100:
    print(x, y)
x
y

50

In [ ]:
x

10

In [ ]:
y

50

In [ ]:
x = 6
y = 2
print(x ** y)
print(x // y)

36
3

In [ ]:
print(2 * 3 ** 3 * 4)

216

In [ ]:
a = [10, 20]
b = a
b += [30, 40]
print(a)
print(b)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [ ]:
x = 100
y = 50
print(x and y)

50

In [ ]:
flowers_list_constructor = list(("Rose", "Peony", "Orchids", "Snowdrop", "Calendula", "Aster", "Tulips", "Bluebell", "Sunflower"))
print(flowers_list_constructor)
length_of_flower=len(flowers_list_constructor)
print("length of list" ,length_of_flower)

['Rose', 'Peony', 'Orchids', 'Snowdrop', 'Calendula', 'Aster', 'Tulips', 'Bluebell', 'Sunflower']
length of list 9

In [ ]:
stu_details=[{"name":"nidhi","age":"20"},{"name":"sri","age":"19"}]
stu_reverse_list=stu_details[::-1]
print("reverse of string:" ,stu_reverse_list)
for student in stu_reverse_list:
  print(student)

reverse of string: [{'name': 'sri', 'age': '19'}, {'name': 'nidhi', 'age': '20'}]
{'name': 'sri', 'age': '19'}
{'name': 'nidhi', 'age': '20'}

In [ ]:

list1=["hello","take"]
list2=["dear","sir"]
Concatenate_list=list1+list2

In [ ]:
print("concatenate list:",Concatenate_list)

concatenate list: ['hello', 'take', 'dear', 'sir']

In [ ]:
list1=["hello","take"]
list2=["dear","sir"]
list1.append(list2)

In [ ]:
print("concatenate list:",Concatenate_list)

concatenate list: ['hello', 'take', 'dear', 'sir']

In [ ]:
list1 = [10, 20, 300, 400, 5000, 6000, 500, 30, 40]
index_of_6000=list1.index(6000)
list1.insert(index_of_6000 + 1,7000)
print("modified list" ,list1)

modified list [10, 20, 300, 400, 5000, 6000, 7000, 500, 30, 40]

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list1[2][1][2].extend(('h','i','j'))
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
index_to_replace=list1.index(20)
list1[index_to_replace]=200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [ ]:
Given_List=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
indices_to_remove=[0,4,5]
flitered_index=[color for idx,color in enumerate(Given_List) if idx not in indices_to_remove]
print(Given_List)

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [ ]:
list1= [1, 3, 5, 7, 9, 10]
list2=[2, 4, 6, 8]
result=list1+list2

In [ ]:
print(result)

[1, 3, 5, 7, 9, 10, 2, 4, 6, 8]

In [ ]:
list1= [1, 3, 5, 7, 9, 10]
list2=[2, 4, 6, 8]
result=list1+list2
print(result)

[1, 3, 5, 7, 9, 10, 2, 4, 6, 8]

In [ ]:
Number = [10, 20, 30, 40]
animal = ["Cat", "Dog", "Lion", "Ponda"]
Number.extend(animal)

In [ ]:
print(Number)

[10, 20, 30, 40, 'Cat', 'Dog', 'Lion', 'Ponda']

In [ ]:
#list
#used to store collection of data.
#this are changeble,order, allow duplicate []

In [ ]:
from os.path import lexists
my_list = [1, 2, 3, 4, 5]
list=my_list[2] #indexing
print(list)
list=my_list[-1] #negitive indexing
print(list)
list=my_list[2:4] #slicing
print(list)
list=my_list[::2] #step slicing
print(list)
list=[x**2 for x in my_list] #list comprehension
print(list)
for item in my_list: #looping
  print(item)
a, b, c, d, e=my_list
print(my_list)

3
5
[3, 4]
[1, 3, 5]
[1, 4, 9, 16, 25]
1
2
3
4
5
[1, 2, 3, 4, 5]

In [ ]:
animal = ["Cat", "Dog", "Lion", "Ponda"]
print(animal[0])
first=animal[0]
print(first)

animal[0:2]

Cat
Cat

['Cat', 'Dog']

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
index=list1.index(20)
list1[index]=200
list1

[5, 10, 15, 200, 25, 50, 20]

In [ ]:
a=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
index_to_remove=[1,4,5]
updated_list= [element for i,element in enumerate(a) if i not in index_to_remove]
updated_list

['Red', 'White', 'Black']

In [ ]:
#length
a=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
len(a)

6

In [ ]:
#Tuples
tuple1 = (10, 20, 30, 40, 50)
reversed_tuple = tuple1[::-1]
print(reversed_tuple)

(50, 40, 30, 20, 10)

In [ ]:
# Accessing value
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
value = tuple1[1][1]
print(value)

20

In [ ]:
#tuple with a single item 50
single_item_tuple = (50)

print(single_item_tuple)

50

In [ ]:
# unpacking
tuple1 = (10, 20, 30, 40)
a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [ ]:
# swapping tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print("tuple1:", tuple1)
print("tuple2:", tuple2)

tuple1: (99, 88)
tuple2: (11, 22)

In [ ]:
# Copying tuples from one tuple to another
tuple1 = (11, 22, 33, 44, 55, 66)

tuple2 = (tuple1[3], tuple1[4])

print("tuple2:", tuple2)

tuple2: (44, 55)

In [ ]:
# Modify tuple
tuple1 = (11, [22, 33], 44, 55)

tuple1[1][0] = 222

print("tuple1:", tuple1)

tuple1: (11, [222, 33], 44, 55)

In [ ]:
# Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))

sorted_tuple = tuple(sorted(tuple1, key=lambda x: x[1]))

print(sorted_tuple)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [ ]:
# Occurances
tuple1 = (50, 10, 60, 70, 50)
occurrences = tuple1.count(50)

print(occurrences)

2

In [ ]:
# Check if all items in the tuple are the same
tuple1 = (45, 45, 45, 45)
result = all(x == tuple1[0] for x in tuple1)
print(result)

True

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
# Creating a tuple with different data types
mixed_tuple = ('Hello', 123, 3.14, True, [1, 2, 3])

print(mixed_tuple)

('Hello', 123, 3.14, True, [1, 2, 3])

In [ ]:
# Creating a tuple with numbers
numbers_tuple = (1, 2, 3, 4, 5)

print("One item from the tuple:", numbers_tuple[2])

One item from the tuple: 3

In [ ]:
# Adding elements
original_tuple = (1, 2, 3, 4, 5)

new_item = 6
new_tuple = original_tuple + (new_item,)

print("Original Tuple:", original_tuple)
print("New Tuple with added item:", new_tuple)

Original Tuple: (1, 2, 3, 4, 5)
New Tuple with added item: (1, 2, 3, 4, 5, 6)

In [ ]:
# 4th element from firat and last
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

fourth_element = my_tuple[3]

fourth_from_last = my_tuple[-4]

print("4th element:", fourth_element)
print("4th element from last:", fourth_from_last)

4th element: 4
4th element from last: 7

In [ ]:
#Counting repeated words
from collections import Counter
my_tuple = (1, 2, 2, 3, 4, 4, 4, 5)
item_counts = Counter(my_tuple)
repeated_items = [item for item, count in item_counts.items() if count > 1]
print("Repeated items in the tuple:", repeated_items)

Repeated items in the tuple: [2, 4]

In [ ]:
# check whether an element exists within a tuple
my_tuple = (1, 2, 3, 4, 5)
element_to_find = 3
if element_to_find in my_tuple:
    print(f"{element_to_find} exists in the tuple.")
else:
    print(f"{element_to_find} does not exist in the tuple.")

3 exists in the tuple.

In [ ]:
#  convert a list to a tuple
my_list = [1, 2, 3, 4, 5]

my_tuple = tuple(my_list)

print("Tuple from list:", my_tuple)

Tuple from list: (1, 2, 3, 4, 5)

In [ ]:
#Remove elements from tuple
my_tuple = (1, 2, 3, 4, 5)

my_list = list(my_tuple)

item_to_remove = 3

if item_to_remove in my_list:
    my_list.remove(item_to_remove)
else:
    print(f"{item_to_remove} does not exist in the tuple.")

my_tuple = tuple(my_list)
print("Updated tuple:", my_tuple)

Updated tuple: (1, 2, 4, 5)

In [ ]:
# Slicing
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
slice1 = my_tuple[2:5]
slice2 = my_tuple[:5]
slice3 = my_tuple[5:]
slice4 = my_tuple[::2]

print("Slice 1:", slice1)
print("Slice 2:", slice2)
print("Slice 3:", slice3)
print("Slice 4:", slice4)

Slice 1: (3, 4, 5)
Slice 2: (1, 2, 3, 4, 5)
Slice 3: (6, 7, 8, 9, 10)
Slice 4: (1, 3, 5, 7, 9)

In [ ]:
# Index of an item
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
item_to_find = 7
try:
    index = my_tuple.index(item_to_find)
    print(f"The index of {item_to_find} in the tuple is:", index)
except ValueError:
    print(f"{item_to_find} is not present in the tuple.")

The index of 7 in the tuple is: 6

In [ ]:
# Length of a tuple
my_tuple = (1, 2, 3, 4, 5)
tuple_length = len(my_tuple)
print("Length of the tuple:", tuple_length)

Length of the tuple: 5

In [ ]:
# Reverse a tuple
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [ ]:
# Unpacking the tuple
tuple1 = (11, 22, 333, 44, 55)
var1, var2, var3, var4, var5 = tuple1
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)

11
22
333
44
55

In [ ]:
# Copying the elements from tuple
tuple1 = (11, 22, 333, 44, 55)
new_tuple = (tuple1[0], tuple1[1], tuple1[3])
print("New Tuple:", new_tuple)

New Tuple: (11, 22, 44)

In [ ]:
# Modify tuple
t1 = (10, 20, 30, 40, 50)
modified_tuple = t1[:2] + (33,) + t1[3:]
print("Original Tuple:", t1)
print("Modify Tuple:", modified_tuple)

Original Tuple: (10, 20, 30, 40, 50)
Modify Tuple: (10, 20, 33, 40, 50)

In [ ]:
# Concatenating tuples
tup1 = (18, 23, 2, 9)
tup2 = (10, 3, 11)
nested_tup1 = (tup1,)
nested_tup2 = (tup2,)
print(f"Tuple 1: {nested_tup1}")
print(f"Tuple 2: {nested_tup2}")
concatenated_tuples = nested_tup1 + nested_tup2
print(f"Tuples after Concatenating: {concatenated_tuples}")

Tuple 1: ((18, 23, 2, 9),)
Tuple 2: ((10, 3, 11),)
Tuples after Concatenating: ((18, 23, 2, 9), (10, 3, 11))

In [ ]:
aTuple = (100, 200, 300, 400, 500)
aTuple[1] = 800
print(aTuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
aTuple = (100, 200, 300, 400, 500)
aTuple.pop(2)
print(aTuple)

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
# Set datatype Add a list of elements to a set
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
print(sample_set)

{'Yellow', 'Black', 'Orange', 'Red', 'Green', 'Blue'}

In [ ]:
# Return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
intersection_set = set1 & set2
print(intersection_set)

{40, 50, 30}

In [ ]:
#Only unique items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

unique_items_set = set1.union(set2)

print(unique_items_set)

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
# Update the first set with items that do not exist in the second set
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
print("set1:", set1)

set1: {10, 30}

In [ ]:
# Remove items from the set at once
set1 = {10, 20, 30, 40, 50}

items_to_remove = {10, 20, 30}

set1.difference_update(items_to_remove)

print(set1)

{50, 40}

In [ ]:
# Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

result_set = set1 ^ set2

print(result_set)

{20, 70, 10, 60}

In [ ]:
#  sets have any elements in common
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

common_elements = set1.intersection(set2)

if common_elements:
    print(f"Two sets have items in common {common_elements}")
else:
    print("No common items found")

Two sets have items in common {10}

In [ ]:
# Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

updated_set1 = set1.union(set2 - set1)

print(updated_set1)

{50, 20, 70, 40, 10, 60, 30}

In [ ]:
# Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
common_elements = set1.intersection(set2)
set1.intersection_update(set2)
print(set1)

{40, 50, 30}

In [ ]:
# Create a set
my_set = {1, 2, 3, 4, 5}

print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
# Add members
my_set = {1, 2, 3, 4, 5}

my_set.add(6)

print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
# Removing items
my_set = {1, 2, 3, 4, 5}

my_set.remove(3)

print(my_set)

{1, 2, 4, 5}

In [ ]:
# Intersection of sets
a = {30, 40, 70, 20}
b = {20, 50, 60, 40}

intersection_set = a.intersection(b)

print("Intersection of two Sets:")
print(intersection_set)

Intersection of two Sets:
{40, 20}

In [ ]:
# Union of sets
a = {30, 40, 70, 20}
b = {20, 50, 60, 40}

union_set = a.union(b)

print("Union of two Sets:", union_set)

Union of two Sets: {70, 40, 50, 20, 60, 30}

In [ ]:
# set Difference
a = {30, 40, 70, 20, 80, 50}
b = {20, 50, 60, 40, 90, 10}

difference_ab = a.difference(b)

print("Difference of a - b:", difference_ab)

Difference of a - b: {80, 70, 30}

In [ ]:
# Symmetric Difference
a = {30, 40, 70, 20, 80, 50}
b = {20, 50, 60, 40, 90, 10}

symmetric_difference_ab = a.symmetric_difference(b) #a ^ b

print("Symmetric Difference of a and b:", symmetric_difference_ab)

Symmetric Difference of a and b: {70, 10, 80, 90, 60, 30}

In [ ]:
# Find the elements in a given set that are not in another set
#Method 1
X = {50, 20, 70, 40, 10, 60, 30}
Y = {80, 50, 100, 70, 90, 60}

difference_XY = X.difference(Y)
difference_YX = Y.difference(X)

print("Difference of X and Y:", difference_XY)
print("Difference of Y and X:", difference_YX)

Difference of X and Y: {40, 10, 20, 30}
Difference of Y and X: {80, 90, 100}

In [ ]:
#Method 2
X = {50, 20, 70, 40, 10, 60, 30}
Y = {80, 50, 100, 70, 90, 60}

difference_XY = X - Y
difference_YX = Y - X

print("Difference of X and Y:", difference_XY)
print("Difference of Y and X:", difference_YX)

Difference of X and Y: {40, 10, 20, 30}
Difference of Y and X: {80, 90, 100}

In [ ]:
# check if two given sets have no elements in common
a = {23, 45, 78, 8, 56}
b = {42, 55, 26, 87}
z = {87, 46}

compare_ab = a.isdisjoint(b)
compare_bz = b.isdisjoint(z)
compare_az = a.isdisjoint(z)

print("Two given sets have no Elements in Common:")
print("Compare A and B:", compare_ab)
print("Compare B and Z:", compare_bz)
print("Compare A and Z:", compare_az)

Two given sets have no Elements in Common:
Compare A and B: True
Compare B and Z: False
Compare A and Z: True

In [ ]:
# Min and Max
a = {23, 45, 17, 8, 56, 10}

sorted_list = sorted(a)

print("Set A:", sorted_list)

print("Maximum of A:", sorted_list[-1])
print("Minimum of A:", sorted_list[0])

Set A: [8, 10, 17, 23, 45, 56]
Maximum of A: 56
Minimum of A: 8

In [ ]:
# Remove all elements
color = {"Red", "Green", "Pink", "White", "Black", "Yellow", "Blue"}

color.clear()

print("After Remove all Elements give Sets:", color)

After Remove all Elements give Sets: set()